<ion-view view-title="{{ru.title}}">
  <ion-content>
    <div class="list item-text-wrap">
      <ion-item class="item-stable item-icon-left" ng-if="clockIndex > -1">
        <div class="queue-status-container">
          <img src="" ng-src="{{clockImage}}" class="clock" alt="clock"/>
          <p>{{clockTitle}}</p>
        </div>
      </ion-item>

      <div class="item item-thumbnail-left">
        Les horaires de ce RU :<br />
        <p ng-bind-html="operationalhours" class="vcenter"></p>
      </div>

      <div class="item item-divider" ng-if="facebookFriendsAtThisRu.length > 0"><p>Y retrouver mes amis</p></div>

      <div class="item"  ng-if="facebookFriendsAtThisRu.length > 0">
        <div ng-repeat="friend in facebookFriendsAtThisRu" class="center">
          <img src="" ng-src="{{ friend.avatar }}" class="avatar-min" data-userid="{{friend.id}}"/>
          <br />
          {{ friend.first_name}}
          <br />
          {{ friend.last_name}}
          <br />
          {{ friend.booking.when}}
        </div>
      </div>

      <div ng-repeat="menu in ru.menus">
        <strong>
          Menu du {{menu.date | amDateFormat: 'dddd DD MMMM'}}&nbsp;{{ menu.name}}
        </strong>
        <br>
        <strong>Entrées</strong>
        <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'STARTER'" style="white-space: normal;">
          {{dish.name}}
        </div>
        <strong>Plats</strong>
        <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'MAIN'" style="white-space: normal;">
          {{dish.name}}
        </div>
        <strong>Desserts</strong>
        <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'DESERT'" style="white-space: normal;">
          {{dish.name}}
        </div>
      </div>

      <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right"
            ng-click="toggleGroup(group)"
            ng-class="{active: isGroupShown(group)}">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <div class="group-items" ng-show="isGroupShown(group)">
            <div class="item item-accordion item-image" ng-show="ru.photo.src">
              <img ng-src="{{ru.photo.src}}"/>
            </div>
            <div class="item item-accordion" ng-show="ru.description">
              {{ru.description}}
            </div>
            <div class="item item-accordion" ng-show="ru.contact.email">
              <a href="mailto:{{ru.contact.email}}"><button class="button button-stable">&Eacute;crire<br />({{ru.contact.email}})</button>
              </a>
            </div>
          </div>
        </ion-list>
      </div>
    </ion-content>
  </ion-view>
