<ion-view view-title="{{ru.title}}">
  <ion-content class="padding">
    <div>
      <h2>
        Je mange ici ce midi
      </h2>

      <p>
        <button class="button button-balanced" ng-click="eatHere(ru.id, 'now')">
          J'y suis
        </button>
      </p>

      <p>OU</p>

      <div class="list-container">
        <ion-list class="list" can-swipe="true">
          <label class="item item-radio" ng-repeat="hour in hours" ng-click="setHour(hour)">
            <input type="radio" name="group">
            <div class="item-content">
              {{hour}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </ion-list>
      </div>

      <div class="actions">
        <p class="action">
          <button class="button button-balanced" ng-click="eatHere(ru.id)">
            OK
          </button>
        </p>
        <p class="action">
          <input name="remember_lunch" id="remember_lunch"type="checkbox">
          <label for="remember_lunch">Me le rappeler</label>
        </p>
      </p>
    </div>
  </ion-content>
</ion-view>
