<ion-view view-title="Mes RUs" cache-view="false">

  <ion-content>

    <div id="search-box" class="bar bar-header item-input-inset" ng-show="data.showSearch">
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Rechercher un RU" ng-model="data.searchQuery">
        <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
      </div>
    </div>

    <ion-list class="list" can-swipe="true">
      <div ng-if="data.searchQuery" ng-repeat="ru in rulist  | orderBy:['-current','-favorite','distance'] |  filter: data.searchQuery">
        <ion-item class="item item-icon-left item-icon-right item-ru" href="#/wtf/rucontent/{{ru.id}}" ng-if="$first">
          <div>
            <img ng-if="getClockImage(ru.queue.value)" ng-src="{{getClockImage(ru.queue.value)}}" class="clock" alt="clock" />
            <div>{{ru.title}}</div>
            <div class="subtitle">{{ru.openingNow}}</div>
            <div class="subtitle" ng-if="isFreshInfo(ru.queueInfoUpdatedAt)">{{ru.queueInfoUpdatedAt | amTimeAgo }} </div>
            <i class="icon ion-chevron-right"></i>
          </div>
        </ion-item>
      </div>
      <div ng-if="!data.searchQuery" ng-repeat="ru in rulist  | orderBy:['-current','-favorite','distance']">

      <ion-item class="item item-icon-left item-icon-right item-ru" href="#/wtf/rucontent/{{ru.id}}">

        <img ng-if="getClockImage(ru.queue.value)" ng-src="{{getClockImage(ru.queue.value)}}" class="clock" alt="clock" />
        <div>{{ru.title}}</div>
        <div class="subtitle">{{ru.openingNow}}</div>
        <div class="subtitle" ng-if="isFreshInfo(ru.queueInfoUpdatedAt)">{{ru.queueInfoUpdatedAt | amTimeAgo }} </div>
        <i class="icon ion-chevron-right"></i>
      </ion-item>

          <div class="rumenu list" ng-if="$first" >
              <div ng-repeat="menu in ru.menusToday">
                  <div class="menuDay">
                      Menu du {{menu.date | amDateFormat: 'dddd DD MMMM'}}&nbsp;{{ menu.name}}
                  </div>
                  <div class="menuCategory">Entrées</div>
                  <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'STARTER'" class="menuDishes">
                      {{dish.name}}
                  </div>
                  <div class="menuCategory">Plats</div>
                  <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'MAIN'" class="menuDishes">
                      {{dish.name}}
                  </div>
                  <div class="menuCategory">Desserts</div>
                  <div ng-repeat="dish in menu.dishes  | filter : dish.category = 'DESERT'" class="menuDishes">
                      {{dish.name}}
                  </div>
              </div>
          </div>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
