<ion-view view-title="File d'attente">
    <ion-content class="padding">
        <div class="list item-text-wrap">
            <div class="item">
                En nous donnant l'attente en un clic, tu préviens tes amis que tu es là, tu les avertis du temps de queue et tu gagnes des points !</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Du RU :
                </div>
                <select ng-model="$parent.currentRu" ng-options="r as r.title for r in rulist"></select>
            </label>
            <ion-list class="list">
                <ion-item class="item item-icon-left item-icon-right"
                          ng-repeat="time in waitingTimes"
                          ng-click="sendVote({{time.index}})">
                    <div>
                        <img src="" ng-src="{{time.img}}" class="clock-queue" alt="clock"/>
                        <div>{{time.title}}</div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
