<ion-view view-title="Mon profil">
  <ion-content>
    <div class="item" id="profile">
      <img ng-src="{{user.avatar || 'img/picto_noavatar.png'}}" alt="photo" align="left" />
      <p ng-show="user.first_name && user.last_name">
        <span class="firstname" ng-show="user.first_name">{{user.first_name}}</span>
        <span class="lastname" ng-show="user.last_name">{{user.last_name}}</span>
      </p>
    </div>

    <label class="item item-input item-select">
        <div class="input-label">
           RU Favori :
        </div>
        <select ng-model="$parent.currentRu" ng-options="r as r.title for r in rulist"></select>
    </label>

    <div ng-show="user.university" class="item university">
      {{user.university}}
    </div>

    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item class="item-stable item-icon-right"
          ng-click="toggleGroup(group)"
          ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          &nbsp;
          {{group.name}}
        </ion-item>

        <ion-checkbox class="item-accordion"
          ng-repeat="item in group.items"
          ng-show="isGroupShown(group)"
          ng-click="updatePreferences(item)"
          ng-model="item.checked">
          {{item.name}}
        </ion-checkbox>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
