<!DOCTYPE html>
<html ng-app="myApp"></html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>AngularJS Walk-through Directive</title>
    <link rel="stylesheet" href="style.css" />
    <link href="lib/ng-walkthrough/css/ng-walkthrough.css" rel="stylesheet" />
    <script src="lib/ng-walkthrough/ng-walkthrough.js"></script>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.0-rc.2/angular.js" data-semver="1.4.0-rc.2"></script>
    <script src="js/sandbox.js"></script>
</head>
<body ng-controller="MainCtrl">
<div id="container">
    <button type="button" ng-click="onClick(1)">Show Transparency Classic Demo</button>
    <button type="button" ng-click="onClick(2)">Show Transparency Classic With Arrow Demo</button>
    <button type="button" ng-click="onClick(3)">Show Image Demo</button>
    <button type="button" ng-click="onClick(4)">Show Tip Demo</button>
    <div>
        <div id="focus-item">Focus Here</div>
    </div>


    <walkthrough
            id="Demo1"
            walkthrough-type="transparency"
            focus-element-id="focus-item"
            icon="single_tap"
            main-caption="{{demoCaption1}}"
            icon-padding-left="0"
            icon-padding-top="20"
            is-active="demoActive1">
    </walkthrough>
    <walkthrough
            id="Demo2"
            walkthrough-type="transparency"
            focus-element-id="focus-item"
            icon="arrow"
            main-caption="{{demoCaption2}}"
            icon-padding-left="30"
            icon-padding-top="0"
            is-active="demoActive2"
            use-button="true">
    </walkthrough>
    <walkthrough
            id="Demo3"
            walkthrough-type="transparency"
            is-active="demoActive3">
        <img src="https://rawgit.com/souly1/ng-walkthrough/master/screenshots/screenshot3.png" style="height: 100vh; width: 100%;">
    </walkthrough>
    <walkthrough
            id="Demo4"
            is-active="demoActive4"
            walkthrough-type="tip"
            icon="https://rawgit.com/souly1/ng-walkthrough/master/screenshots/myLogo.png"
            tip-icon-location="FRONT"
            tip-location="TOP"
            main-caption="{{demoCaption4}}"
            tip-color="BLACK"
            use-button="true">
    </walkthrough>

    <script>
        var app = angular.module('myApp', ['ng-walkthrough']);

        app.controller('MainCtrl', function($scope) {

            $scope.demoCaption1 = "This is demoing the first classic transparency walk-through.\nit has a caption, " +
                    "round marking of DOM element\n and 'single-tap' icon";
            $scope.demoCaption2 = "This is demoing the second classic transparency walk-through.\nit has a caption, " +
                    "regular marking of DOM element,\n 'arrow' to DOM element as icon\n and a button to close the walkthrough";
            $scope.demoCaption4 = "This is demoing the tip walk-through.\nit has a caption in a text box, \n" +
                    "an icon attached to the text box \n and a button to close the walkthrough";

            $scope.onClick = function(demoId){
                switch (demoId){
                    case 1:
                        $scope.demoActive1 = true;
                        break;
                    case 2:
                        $scope.demoActive2 = true;
                        break;
                    case 3:
                        $scope.demoActive3 = true;
                        break;
                    case 4:
                        $scope.demoActive4 = true;
                        break;
                }
            };

            $scope.demoActive2 = true;
        });

    </script>
</div>
</body>
</html>
