<ion-view view-title="Les Toqués ?" ng-app>
  <ion-content class="padding">
    <div class="list item-text-wrap" id="about">
      <div class="item">
        <h2>Les toqués ? Vous avez dit les Toqués ?</h2>

        <p class="center">
          Qui s'en fout du gaspillage alimentaire ?
        </p>
        
        <p class="center">
			<img src="img/handsup.gif" width="280">
        </p>

        <p class="center">
          Et bah pas nous, et pas toi puisque tu utilises WTF,<br />
          alors déjà bravo à toi
        </p>
        
        <p class="center">
		  <img class="center" src="img/cheers.jpg">
		</p>
      
		<p class="center">
			La légende dit qu'un jour, des étudiants qui mangeaient souvent dans leur cantine se sont dit &laquo; Et si on avait un moyen de connaître le temps d'attente avant de se poser pour manger ? &raquo;. Et bam, What The Food est née. Une appli maligne qui indique, grâce à la participation de tout le monde, le temps de queue dans ton RU préféré, mais aussi les menus !
		</p>
		
		<p class="center">
			En te connectant avec ton profil Facebook, tu peux aussi voir quels sont tes amis Facebook Toqués qui mangent dans ton RU. Facile d'organiser ton repas, tu leur indiques juste quand tu y es ne donnant l'info sur la queue et tout le monde s'y retrouve.
		</p>
		
		<p class="center">
			What The Food, ça te permet aussi de réduire le gaspillage en collectant ton avis sur les repas servis et en évaluant ce qui reste sur les plateaux. Ton petit doigt clique sur la quantuté que tu as laissé sur ton plateau, et tout ça permet au CROUS d'adapter ses repas !
		</p>
      </div>

      <div class="center">
		<img src="img/picto_login_1.png" width="120" />
		<img src="img/picto_login_2.png" width="120" />
		<img src="img/picto_login_3.png" width="120" />
		<img src="img/picto_login_4.png" width="120" />
        <p>Des repas que tu aimes, c'est moins de gaspillage et plus de sourires.</p>
        <p>Merci ! on est fiers de toi, fiers de vous ! Vive la RUvolution et vive les Toqués les plus connectés !</p>
      </div>

      <div class="item">
        <img class="toque" ng-src="{{user.avatar || 'img/picto_profil.png'}}" ng-repeat="user in toques">
      </div>
    </div>
  </ion-content>
</ion-view>
