<ion-view view-title="À propos" ng-app>
  <ion-content class="padding">
    <div class="list item-text-wrap">
      <div class="item">
        <h2>What the Food, c'est quoi ?</h2>

        <p>
          En France, une moyenne de 135g de nourriture / plateau / jour est gaspillée, soit l'équivalent d'une assiette de pâtes.
        </p>

        <p>
          L'application What the Food a pour mission de réduire les quantités de nourriture jetées en permettant à ses utilisateurs, la communauté des Toqués, de manger malin et de partager plus avec son Restaurant Universitaire !
        </p>

        <p>
          Pour le moment utilisable dans les RUs de Censier, Dauphine et la Halle aux Farines pendant les phases pilotes.
        </p>
      </div>

      <div>
        <img src="img/je_suis_toque.png">
      </div>

      <div class="item">
        <h2>What the Food, c'est qui ?</h2>

        <p>
          What the Food, c'est le premier collectif initié par une équipe d'étudiants motivés, une entreprise sociale engagée (Zéro Gâchis) et un organisme public national (le CROUS/CNOUS) ayant la volonté de mettre fin ensemble au gaspillage alimentaire dans tous les restaurants universitaires de France. C'est aussi de nombreux Toqués qui ont rejoint la RUvolution en marche et … toi, qui fait partie des premiers utilisateurs de l'app, félicitations au passage ;)
        </p>

        <p>
          Envie d'en savoir plus ? De contribuer ? De nous rencontrer ? Un petit mail et le tour est joué :
        </p>

        <p>
          <a href="mailto:contact@whatthefoodapp.org">contact@whatthefoodapp.org</a>
        </p>
      </div>

      <div>
        <img src="img/wtf_title.png">
      </div>
    </div>

    <div class="item">
      <h2>MILLE MERCIS</h2>
      <h2>À nos contributeurs les plus Toqués !</h2>
      <h2>À nos partenaires dans cette RUvolution</h2>
      <img src="img/partners.png">
    </div>
  </ion-content>
</ion-view>
