<ion-view view-title="Mon plateau" ng-app>
  <ion-content ng-init="init()">
    <div class="list item-text-wrap no-border-list">
      <div class="item fork-red-bg fork-red-content">
        <div class="current-date">{{ date | amDateFormat:'dddd Do MMMM'  }}</div>
        <select class="select-ru" ng-model="$parent.currentRu" ng-options="r as r.title for r in rulist"></select>
      </div>
      <div class="item question-lunch">
        As-tu terminé ton plateau ?
      </div>
      <div class="item no-padding lunchmenu">
        <div class="list no-border-list">
          <div class="item">Entrée</div>
          <div class="item">
            <div class="list no-padding no-margin lunch-scale-list">
              <label class="item item-radio item-lunch-check check-empty-plate">
                <input ng-model="entree" value="0" type="radio" name="group1">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-empty-plate">
                <input ng-model="entree" value="1" type="radio" name="group1">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-full-plate">
                <input ng-model="entree" value="2" type="radio" name="group1">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-full-plate">
                <input ng-model="entree" value="3" type="radio" name="group1">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </div>
            <div class="lunch-scale"></div>
            <img class="plate-image" src=""
            ng-src="{{entree == 0 ? 'img/plate_empty.png' : entree == 1 ? 'img/plate_quite_empty.png' : entree == 2 ? 'img/plate_quite_full.png' : entree == 3 ? 'img/plate_full.png' : 'img/plate_empty.png'}}" />
          </div>
          <div class="item">Plat</div>
          <div class="item">
            <div class="list no-padding no-margin lunch-scale-list">
              <label class="item item-radio item-lunch-check check-empty-plate">
                <input ng-model="plat" value="0" type="radio" name="group2">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-empty-plate">
                <input ng-model="plat" value="1" type="radio" name="group2">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-full-plate">
                <input ng-model="plat" value="2" type="radio" name="group2">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-full-plate">
                <input ng-model="plat" value="3" type="radio" name="group2">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </div>
            <div class="lunch-scale"></div>
            <img class="plate-image" src=""
            ng-src="{{plat == 0 ? 'img/plate_empty.png' : plat == 1 ? 'img/plate_quite_empty.png' : plat == 2 ? 'img/plate_quite_full.png' : plat == 3 ? 'img/plate_full.png' : 'img/plate_empty.png'}}" />
          </div>
          <div class="item">Dessert</div>
          <div class="item">
            <div class="list no-padding no-margin lunch-scale-list">
              <label class="item item-radio item-lunch-check check-empty-plate">
                <input ng-model="dessert" value="0" type="radio" name="group3">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-empty-plate">
                <input ng-model="dessert" value="1" type="radio" name="group3">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-full-plate">
                <input ng-model="dessert" value="2" type="radio" name="group3">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-full-plate">
                <input ng-model="dessert" value="3" type="radio" name="group3">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </div>
            <div class="lunch-scale"></div>
            <img class="plate-image" src=""
            ng-src="{{dessert == 0 ? 'img/plate_empty.png' : dessert == 1 ? 'img/plate_quite_empty.png' : dessert == 2 ? 'img/plate_quite_full.png' : dessert == 3 ? 'img/plate_full.png' : 'img/plate_empty.png'}}" />
          </div>
          <div class="item">Pain</div>
          <div class="item">
            <div class="list no-padding no-margin lunch-scale-list">
              <label class="item item-radio item-lunch-check check-empty-plate">
                <input ng-model="pain" value="0" type="radio" name="group4">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-empty-plate">
                <input ng-model="pain" value="1" type="radio" name="group4">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-quite-full-plate">
                <input ng-model="pain" value="2" type="radio" name="group4">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
              <label class="item item-radio item-lunch-check check-full-plate">
                <input ng-model="pain" value="3" type="radio" name="group4">
                <div class="item-content"></div>
                <i class="radio-icon ion-checkmark"></i>
              </label>
            </div>
            <div class="lunch-scale"></div>
            <img class="plate-image" src=""
            ng-src="{{pain == 0 ? 'img/plate_empty.png' : pain == 1 ? 'img/plate_quite_empty.png' : pain == 2 ? 'img/plate_quite_full.png' : pain == 3 ? 'img/plate_full.png' : 'img/plate_empty.png'}}" />
          </div>
        </div>
      </div>
      <a class="item button button-full button-positive no-margin" ng-click="next(entree, plat, dessert, pain)">
        Suivant
      </a>
    </div>
  </ion-content>
</ion-view>
