<ion-view view-title="Mon plateau" >
  <ion-content ng-init="init()">
    <div class="list item-text-wrap no-border-list">
      <div class="item fork-red-bg fork-red-content">
        <div class="current-date">{{ date | amDateFormat:'dddd Do MMMM'  }}</div>
      </div>
      <div class="item question-lunch">
        Pourquoi n'as-tu pas terminé ton plateau ?<br />
        <div class="small-question">Promis on cafte pas, c'est pour améliorer ton repas !</div>
      </div>
      <div class="item response-lunch" ng-repeat="(cat, qs) in questions" ng-if="qs.length > 0">

        <label class="item item-quizz" ng-if='qs.length > 0 && cat != "CONTEXT"'>
          <label class="item item-input item-select item-quizz-select" ng-if='cat == "STARTER"'>
            <div class="input-label">
              En entrée, tu as pris
            </div>
            <select class="select-food" ng-model="$parent.currentEntree" ng-options="r as r.name for r in entree"></select>
          </label>
          <label class="item item-input item-select item-quizz-select" ng-if='cat == "MAIN"'>
            <div class="input-label">
              En plat, tu as pris
            </div>
            <select class="select-food" ng-model="$parent.currentPlat" ng-options="r as r.name for r in plat"></select>
          </label>
          <label class="item item-input item-select item-quizz-select" ng-if='cat == "DESSERT"'>
            <div class="input-label">
              En dessert, tu as pris
            </div>
            <select class="select-food" ng-model="$parent.currentDessert" ng-options="r as r.name for r in dessert"></select>
          </label>
        </label>

        <label class="item item-quizz" ng-repeat="q in qs">
          <div>{{q.question}}</div>

          <div ng-if="q.multiselect">
            <div class="row" ng-repeat="line in q.answers">
              <div class="col" ng-repeat="(i, a) in line">
                <ion-checkbox ng-model="q.value[i]">{{a}}</ion-checkbox>
              </div>
            </div>
          </div>

          <ion-radio ng-if="!q.multiselect" ng-repeat="(i, a) in q.answers" name="{{q.target}}" ng-model="q.value" ng-value="{{i}}">{{a}}</ion-radio>
        </label>

      </div>
      <a href="#" class="item button button-full button-positive no-margin" ng-click="sendFeedback()">
        Suivant
      </a>
    </div>
  </ion-content>
</ion-view>
