<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent">
      <ion-view view-title="À propos" ng-app>
        <ion-content style="background-color: #eb5d3d;" >
          <div style="text-align: center;">
            <img src="img/logo_wtf.png" width="100" style="margin-top: 2%; border: 1px solid rgba(255, 255, 255, .3);" /><br />
            
            <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" style="height: 320px; color: white;">
				<ion-slide>
					<div class="box">
						<img src="img/picto_login_1.png" width="198" />
						<p>L'appli qui te permet de manger en prenant ton temps et ta fourchette.</p>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<img src="img/picto_login_2.png" width="198" />
						<p>L'appli qui te permet de manger en choisissant ton menu à l'avance... Salade, tomate, oignons ?!</p>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<img src="img/picto_login_3.png" width="198" />
						<p>L'appli qui te permet de manger en repérant où sont tes amis... pour ne plus manger la tête dans ta purée le jeudi !</p>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<img src="img/picto_login_4.png" width="198" />
						<p>L'appli qui te permet de manger en te connectant avec ton CROUS pour faire évoluer les menus et manger comme chez Mamie !</p>
					</div>
				</ion-slide>
			</ion-slide-box>


            <div ng-hide="signup || signin">
              <label style="margin:8px; display: inline-block">
                <button class="button facebook button-block button-positive" style="background-color: #37355e; opacity: 0.9;" ng-click="fblogin()">
                  Connexion Facebook
                </button>
              </label>

              <label style="margin:8px; display: inline-block">
                <button class="button button-block button-assertive" style="border-color: #eb5d3d; background-color: #fff; color: #eb5d3d;"  ng-click="signin = true;">
                  Connexion email
                </button>
              </label>

              <a class="item" style="background: none; border: 0px; opacity: 0.9; text-decoration: underline; color: white;" ng-click="signup = true;">Créer un compte par email</a>
            </div>

            <!--   SIGN UP   -->
            <form name="formSignUp" style="margin-top:10px;" ng-show="signup" novalidate>
				
			  <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="text" name="firstname" ng-model="firstname" placeholder="Prénom" required>
                </div>
              </label>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="text" name="lastname" ng-model="lastname" placeholder="Nom" required>
                </div>
              </label>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="email" name="email" ng-model="email" placeholder="Email" required>
                </div>
                <div ng-show="formSignUp.email.$invalid && (formSignUp.email.$touched || formSignUp.$submitted)">
                  <span ng-show="formSignUp.email.$error.required">Email indispensable !</span>
                  <span ng-show="formSignUp.email.$error.email">Email invalide !</span>
                </div>
              </label>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="password" name="password" ng-model="password" placeholder="Mot de passe" required>
                </div>
                <div ng-show="formSignUp.password.$invalid && (formSignUp.password.$touched || formSignUp.$submitted)">
                  <span ng-show="formSignUp.password.$error.required">Mot de passe indispensable !</span>
                </div>
              </label>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="password" name="password_confirmation" ng-model="password_confirmation" placeholder="Confirmer le mot de passe" required>
                </div>
                <div ng-show="password!=password_confirmation && (formSignUp.password_confirmation.$touched || formSignUp.$submitted)">
                  <span ng-show="password!=password_confirmation">Les mots de passe ne sont pas les mêmes !</span>
                </div>
              </label>

              <label style="margin:10px;">
                <input type="submit" class="button button-block" style="background-color: #fff; color: #eb5d3d; opacity: 0.9; border: 0px;" value="Créer mon profil" ng-click="submitFormSignUp(formSignUp)">
              </label>

              <a class="item" style="background: none; border: 0px; opacity: 0.9; text-decoration: underline; color: white;" ng-click="signup = false;">Retour</a>

            </form>

            <!--   SIGN WITH EMAIL   -->
            <form name="formSignIn" style="margin-top:10px;" ng-show="signin" novalidate>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="email" name="email" ng-model="email" placeholder="Email" required>
                </div>
                <div ng-show="formSignIn.email.$invalid && (formSignIn.email.$touched || formSignIn.$submitted)">
                  <span ng-show="formSignIn.email.$error.required">Email indispensable !</span>
                  <span ng-show="formSignIn.email.$error.email">Email invalide !</span>
                </div>
              </label>

              <label style="margin:10px;">
                <div class="item item-input" style="background-color: #dcb2a8; opacity: 0.9;">
                  <input type="password" name="password" ng-model="password" placeholder="Mot de passe" required>
                </div>
                <div ng-show="formSignIn.password.$invalid && (formSignIn.password.$touched || formSignIn.$submitted)">
                  <span ng-show="formSignIn.password.$error.required">Mot de passe indispensable !</span>
                </div>
              </label>

              <label style="margin:10px;">
                <input type="submit" class="button button-block" style="background-color: #fff; color: #eb5d3d; opacity: 0.9; border: 0px;" value="Se connecter" ng-click="submitFormSignIn(formSignIn,email,password)">
              </label>

              <a class="item" style="background: none; border: 0px; opacity: 0.9; text-decoration: underline; color: white;" ng-click="signin = false;">Retour</a>

            </form>
          </div>
        </ion-content>
      </ion-view>
    </ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>
