@font-face {
  font-family: OpenSans; /* Edit this line */
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

* {
  font-family: OpenSans;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.paddingtop-menuitem {
  padding-top: 10px;
}

.bar.bar-positive {
    border: 0;
    border-bottom: 1px solid rgba(255,136,113, 1);
    color: white;
    background: #eb5d3d;
}

.bar-positive .button.button-clear {
    color: white;
    font-weight: bold;
}

.bar.bar-positive .title {
    color: white;
    font-weight: bold;
    font-size: 20pt;
}

.bar .title {
    color: #eb5d3d;
    font-size: 16pt;
    font-weight: bold;
}

.ion-chevron-right {
  color: #D3D3D3;
}

.ion-ios7-search {
  color: #eb5d3d;
}

.item-ru > a {
  background: -webkit-linear-gradient(left, #943b27, #ea5d3d);
}

.item-ru {
  border-color: #eb5d3d;
  color: white;
}

.item-ru .ion-chevron-right {
  color: white;
}

.lunch-scale {
  background: -webkit-linear-gradient(left, #13E6A4, #B3D72B, #FB4D26);
  height: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 250px;
}

.lunch-scale-list {
  display: inline-block;
}

.item-lunch-check {
  display: inline-block;
  margin: 0px;
  margin-left: 45px;
  padding: 0px;
  width: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.item-lunch-check .radio-icon {
  padding: 0px;
  left: 6px;
  color: white;
}

.item-lunch-check .item-content {
  background-color: transparent;
}

.check-empty-plate {
  margin-left: 0px !important;
}

.item-radio input:checked ~ .item-content {
  background: transparent;
  padding: 16px 16px 16px 16px;
  border-radius: 50%;
  border-color: black;
}

.check-empty-plate input:checked ~ .item-content {
  background: #13E6A4;
}

.check-empty-plate {
  border-color: #13E6A4;
}


.check-quite-empty-plate input:checked ~ .item-content {
  background: #71E057;
}

.check-quite-empty-plate {
  border-color: #71E057;
}

.check-quite-full-plate input:checked ~ .item-content {
  background: #EAA412;
}

.check-quite-full-plate {
  border-color: #EAA412;
}

.check-full-plate input:checked ~ .item-content {
  background: #FB4D26;
}

.check-full-plate {
  border-color: #FB4D26;
}

.plate-image {
  display: inline-block;
  width: 42px;
  margin-left: 20px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.rumenu {
  color: black;
  padding: 20px;
  background-image: url(../img/fork_bg.png);
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > a.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content > div.scroll > ul > a.item {
    background: -webkit-linear-gradient(left, #943b27, #ea5d3d);
    color: #fff;
    font-weight: 800;
    border-width: 0px;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content > div.scroll > ul > a.activated {
  background: #761818;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center {
  text-align: center;
}

.menu-text-item {
    padding-left: 15px;
}

.menu-icon {
    width: 30px;
}

.clock {
  width: 42px;
  height: 42px;
  float: left;
  margin-left: -47px;
}

.bar-header {
  background-color: #eb5d3d;
  color: white;
}
.bar.bar-assertive {
    background-color: #eb5d3d;
}
.subtitle {
  color: white;
  font-size: 0.8em;
}

.bar.item-input-inset .item-input-wrapper {
    width: 100%;
    color: #eb5d3d;
    background-color: white;
}

.has-header {
  width: 100%;
  background-color: #eb5d3d;
  color: #eb5d3d;
}

.clear-search {
  font-size: 2em;
}

#search-box {
  width: 100%;
  background-color: white;
  color: #eb5d3d;
}

input::-webkit-input-placeholder {
   color: #eb5d3d;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #eb5d3d;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #eb5d3d;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input:-ms-input-placeholder {
   color: #eb5d3d;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}
input[placeholder] {
   color: #eb5d3d;
   font-weight: 900;
   font-family: OpenSans;
}

.scroll {
  width: 100%;
}

.avatar-min {
  height: 50px;
}

#profile img {
  width: 160px;
  height: 160px;
  margin-right: 16px;
}

.university {
  background-color: #eb5d3d;
  color: white;
  font-style: italic;
}

.checkbox-hidden > .checkbox {
  display: none;
}

/* accordion */
.list .item.item-accordion {
  line-height: 57px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item-image.item-accordion > img {
  max-height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item-image.item-accordion.ng-hide > img {
  max-height: 0px;
}
.list .item-image.item-accordion.ng-hide-add > img,
.list .item-image.item-accordion.ng-hide-remove > img {
  display: block !important;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  min-height: 0px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
padding-top: 8px;
padding-left: 6px;
min-height: 100px;
}
.item-thumbnail-left img, .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 80px;
  max-height: 80px;
  width: 18%;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view:nth-child(2) > ion-content > div.scroll > div > a > p {
  width: 76%;
  margin-left: 10px;
  font-size: 10pt;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > div.scroll > div > ion-list > div > div > div {
  text-align: center;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view > ion-content > div.scroll > div > ion-list > div > div > div > a > button {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 5px auto;
  /* padding: 0 12px; */
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content {
  background-color: #eb5d3d !important;
}
