@font-face {
	font-family: OpenSans; /* Edit this line */
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

* {
	font-family: OpenSans;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.paddingtop-menuitem {
  padding-top: 10px;
}

.bar.bar-positive {
    border: 0;
    border-bottom: 1px solid rgba(255,136,113, 1);
    color: #ff9c84;
    background: #fff;
}

.bar-positive .button.button-clear {
    color: #ff9c84;
    font-weight: bold;
}

.bar.bar-positive .title {
    color: #ff9c84;
    font-weight: bold;
    font-size: 20pt;
}

.bar .title {
    color: #ff9c84;
    font-size: 16pt;
    font-weight: bold;
}

.ion-chevron-right {
	color: #D3D3D3;
}

.ion-ios7-search {
	color: white;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > a.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

body > ion-nav-view > ion-side-menus > ion-side-menu > ion-content > div.scroll > ul > a.item {
    background: #ff9c84;
	border-color: #ff9c84;
    color: #fff;
    font-weight: 800;
    border: 1px solid white;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.center {
  text-align: center;
}

.menu-text-item {
    padding-left: 15px;
}

.menu-icon {
    width: 30px;
}

.clock {
	width: 42px;
	height: 42px;
	float: left;
	margin-left: -47px;
}

.bar-header {
	background-color: white;
	color: #ff9c84;
}
.bar.bar-assertive {
    background-color: #ff9c84;
}
.subtitle {
	color: #696969;
	font-size: 0.8em;
}

.bar.item-input-inset .item-input-wrapper {
    width: 100%;
    background-color: #ff9c84;
    color: white;
}

.has-header, #search-box {
	width: 100%;
    background-color: #ff9c84;
}

input::-webkit-input-placeholder {
   color: white;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}

input:-ms-input-placeholder {
   color: white;
   font-weight: 900;
   font-style: italic;
   font-family: OpenSans;
}
input[placeholder] {
   color: white;
   font-weight: 900;
   font-family: OpenSans;
}

.scroll {
	width: 100%;
}

.avatar-min {
  height: 50px;
}

#profile {
	background-color: white;
	width: 100%;
	height: 162px;
}

#profile img {
	width: 160px;
	height: 160px;
	margin-left: 3%;
}

#profile ul {
	font-size: 2em;
	line-height: 100%;
}

.university {
	background-color: #ff9c84;
	color: white;
	font-style: italic;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  min-height: 0px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
padding-top: 8px;
padding-left: 6px;
min-height: 100px;
}
.item-thumbnail-left img, .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 80px;
  max-height: 80px;
  width: 18%;
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-view > ion-view:nth-child(2) > ion-content > div.scroll > div > a > p {
  width: 76%;
  margin-left: 10px;
  font-size: 10pt;
}
