/* Empty. Add your own CSS if you like */

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.bar.bar-positive {
    border: 1px solid rgba(255,136,113, 1);
    color: #ff9c84;
    background: #fff;
}

.bar-positive .button.button-clear {
    color: #ff9c84;
    font-weight: bold;
}

.bar.bar-positive .title {
    color: #ff9c84;
    font-weight: bold;
    font-size: 20pt;
}

.bar .title {
    color: #ff9c84;
    font-size: 16pt;
    font-weight: bold;
}

.ion-chevron-right {
	color: #D3D3D3;
}

.ion-ios7-search {
	color: white;
}

.item {
	border-color: #ff9c84;
}

.clock {
	width: 42px;
	height: 42px;
	float: left;
	margin-left: -47px;
}

.bar-header {
	background-color: white;
	color: #ff9c84;
}

.subtitle {
	color: #696969;
	font-size: 0.8em;
}

.bar.item-input-inset .item-input-wrapper {
    width: 100%;
    background-color: #ff9c84;
    color: white;
}

.has-header, #search-box {
	width: 100%;
    background-color: #ff9c84;
}

input::-webkit-input-placeholder {
   color: white;
   font-weight: 900;
   font-style: italic;
}

input:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-weight: 900;
   font-style: italic;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-weight: 900;
   font-style: italic;
}

input:-ms-input-placeholder {
   color: white;
   font-weight: 900;
   font-style: italic;
}
input[placeholder] {
   color: white;
   font-weight: 900;
}
