#stats {

}

#stats ion-content {
    padding-top:94px;
}

#stats h2 {
    text-align: center;
}

#stats .queue-feedbacks-count,
#stats .lunch-feedbacks-count {
    overflow: auto;
}

#stats .queue-feedbacks-count img,
#stats .lunch-feedbacks-count img {
    height: 50px;
    margin-right: 10px;
}

#stats .queue-feedbacks-count img,
#stats .lunch-feedbacks-count img,
#stats .queue-feedbacks-count p,
#stats .lunch-feedbacks-count p {
    float: left;
}

#stats .queue-feedbacks-count p.count,
#stats .lunch-feedbacks-count p.count {
    float: right;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}

.score img {
    height: 50px;
    margin-right: 10px;
    float: left;
    display: block;
}

.score div {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-top: 5px;
    display: inline-block;
}

.score .small{
    font-size: 11px;
}

.level {
}

.level .level-icon {
    display: flex;
    justify-content: space-between;
}

.level .level-icon img {
    align-self: center;
}

.level .level-progress{
    width: 100%;
    height: 7px;
    background-color: #828282;

    display: flex;
    justify-content: space-between;
}

.level .level-progress .level-step {
    height: 100%;
    width: 25%;
    background-color: #F15944;
}

.level .level-text {
    display: flex;
    justify-content: space-between;
}

.podium{
}
.podium .row{
    padding-top: 16px;
    padding-bottom: 16px;

}
.podium .rang{
    text-align: right;
    padding-right: 8px;
}
.podium .pts{
    text-align: right;
}
.row .podium-0 {
 }
.podium-0 {
   font-size: 32px;
    font-weight: 800;
}
.podium-1 {
    font-size: 24px;
    font-weight: 400;
}
