#stats {

}

#stats ion-content {
    padding-top:94px;
}

#stats h2 {
    text-align: center;
}

#stats .queue-feedbacks-count,
#stats .lunch-feedbacks-count {
    overflow: auto;
}

#stats .queue-feedbacks-count img,
#stats .lunch-feedbacks-count img {
    height: 50px;
    margin-right: 10px;
}

#stats .queue-feedbacks-count img,
#stats .lunch-feedbacks-count img,
#stats .queue-feedbacks-count p,
#stats .lunch-feedbacks-count p {
    float: left;
}

#stats .queue-feedbacks-count p.count,
#stats .lunch-feedbacks-count p.count {
    float: right;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}

.podium{
}
.podium .row{
    padding-top: 16px;
    padding-bottom: 16px;

}
.podium .rang{
    text-align: right;
    padding-right: 8px;
}
.podium .pts{
    text-align: right;
}
.row .podium-0 {
 }
.podium-0 {
   font-size: 32px;
    font-weight: 800;
}
.podium-1 {
    font-size: 24px;
    font-weight: 400;
}